.currency-converter {
  display: flex;
  flex-direction: row;
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .currency-converter {
    flex-direction: column;
    gap: 10px;
  }
}
