.currency-converter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .currency-converter {
    flex-direction: row;
    gap: 20px;
  }
}
