.currency-input {
  display: flex;
  align-items: start;
  gap: 10px;
  flex-direction: column;
  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  label {
    margin-right: 10px;
    font-weight: bold;
  }

  input {
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      border-color: #0056b3;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      outline: none;
    }
  }

  .remove-button {
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
